<div class="c-search{{#if settings.searchContextClass}}--{{settings.searchContextClass}}{{else}}--default{{/if}}{{#if settings.searchClasses}} {{settings.searchClasses}}{{/if}}"
     data-css="c-search"
     data-js-module="search"{{#if settings.searchJsOptions}}
     data-js-options='{{stringify settings.searchJsOptions}}'{{/if}}>

	<form method="GET" class="search__form">
		<div class="search__box">
			<label class="search__label">
				<span class="search__icon {{content.searchIcon}}"></span>
			</label>
			<input type="text" class="search__input" placeholder="{{content.placeholderText}}" data-js-item="search-input">
		</div>

		<input type="submit" value="{{content.submitText}}" class="search__submit" data-js-item="search-submit">
	</form>

	<div class="search__results" data-js-item="search-results">

	</div>

</div>


